@{
    ViewBag.Title = "Home Page";
}

<h2>Sample app for .NET Framework integration with NICE Identity</h2>
<h3>Code Samples</h3>
<p>
	<a href="https://github.com/nhsevidence/identity/tree/master/TestClients/NICE.Identity.TestClient.NETFramework">
		Test Client / Sample Code for .NET Framework
	</a>
</p>
<h3>Sample Pages</h3>
<p>
	<a href="@Url.Action("UserProfile", "Home")">User Profile (authenticated)</a>
</p>
<p>@ViewBag.Message</p>