<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NICE">
      <section name="IdAM" type="NICE.Identity.Authentication.Sdk.Configuration.IdAMWebConfigSection, NICE.Identity.Authentication.Sdk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <NICE>
    <IdAM ApiIdentifier="1 (real values not stored here since it's a public repo)" ClientId="2" ClientSecret="3" AuthorisationServiceUri="4" Domain="5" PostLogoutRedirectUri="6" RedirectUri="7" GoogleTrackingId="8" RedisEnabled="True" RedisConnectionString="9" />
  </NICE>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="auth0:RedirectUri" value="https://localhost:44052/signin-auth0" />
    <add key="auth0:PostLogoutRedirectUri" value="https://localhost:44052/" />
    <add key="RedisServiceConfiguration:IpConfig" value="localhost" />
    <add key="RedisServiceConfiguration:Port" value="6379" />
    <add key="ApiIdentifier" value="https://test-identityapi.nice.org.uk/api" />
  </appSettings>
</configuration>