<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a .NET Framework 4.5.2 web application that supports regular user login authentication as well as supporting API routes accessible with Machine to Machine tokens.</p>
    <p>Supporting the 2 types of endpoint within the same web app is a bit of a code smell. However we need to support it for various legacy apps.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>M2M tokens</h2>
        <p>Are also known as JWT tokens or Bearer tokens. Also they're retrieved by the client_credentials grant (using the identity SDK)</p>
    </div>
</div>
