@model NICE.Identity.ViewModels.HomeViewModel

<div class="page-header">
	<h1 class="page-header__heading">
		@Model.PageTitle
	</h1>
	<p class="page-header__lead">
		Signed in: @Model.IsSignedIn
	</p>
</div>