@{
    ViewData["Title"] = "Home Page";
}
<h2>Sample app for .NET Core integration with NICE Identity</h2>
<h3>Code Samples</h3>
<p>
    <a href="https://github.com/nhsevidence/identity/tree/master/TestClients/NICE.Identity.TestClient.NETCore">
        Test Client / Sample Code for .NET Core
    </a>
</p>
<h3>Sample Pages</h3>
<p>
    <a asp-area="" asp-controller="Home" asp-action="UserProfile">User Profile (authenticated)</a>
</p>
